.btn {
  font-family: "Lato";
  font-size: 1.6rem;
  font-weight: 700;
  color: #10273d;
  text-transform: uppercase;
  padding: 2.5rem 4rem;
  background: #ffffa6;
  border-radius: 40% / 100%;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}